$background-white-lightest: hsl(0, 0%, 100%);
$background-violet-light: hsl(266, 31%, 80%);
$background-purple-light: hsl(249, 30%, 52%);
$background-purple-lightest: hsl(237, 32%, 54%);
$background-blue-purpleish: hsl(222, 41%, 53%);
$background-blue-medium: hsl(210, 53%, 53%);
$background-sky-medium: hsl(199, 71%, 52%);
$background-sky-light: hsl(194, 86%, 51%);
$background-sky-lightest: hsl(190, 100%, 50%);
$font-purple-medium: hsl(266, 31%, 48%);
$font-gray-medium: hsl(0, 0%, 35%);
$font-gray-dark: hsl(0, 0%, 20%);
$font-black-darkest: hsl(0, 0%, 0%);
$border-purple-dark: hsl(267, 31%, 24%);
