@import './variables';
@import './mixins';
@import './login';
@import './header';
@import './chat';
@import './message';
@import './message-form';

* {
	font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	letter-spacing: 0.5px;
}

/* FORM STYLES */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62, 5%;
}
