.wrapper {
  height: 100vh;
  width: 100%;
  background: #7554a0;
  background: -webkit-gradient(linear, left top, right top, from(#7554a0), color-stop(#6b60a9), color-stop(#6468af), color-stop(background-blue-purpleish), color-stop(background-blue-medium), color-stop(background-sky-medium), color-stop(background-sky-light), to(background-sky-lightest));
  background: linear-gradient(90deg, #7554a0, #6b60a9, #6468af, background-blue-purpleish, background-blue-medium, background-sky-medium, background-sky-light, background-sky-lightest);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .form {
  width: 400px;
}

.wrapper .form .title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;
}

.wrapper .form .input {
  color: #333333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.wrapper .form .button {
  border-radius: 4px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}

.wrapper .form .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wrapper .form .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .form .button:hover span {
  padding-right: 25px;
}

.wrapper .form .button:hover span:after {
  opacity: 1;
  right: 0;
}

.wrapper .form .error {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.ce-chat-list {
  background-color: white !important;
}

.ce-chat-list .ce-chats-container {
  background-color: white !important;
}

.ce-chat-list .ce-chats-container .ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 4px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: white !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

/* CUSTOM FEED */
.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: background-white-lightest;
}

.chat-feed .chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-feed .chat-title-container .chat-title {
  color: font-purple-medium;
  font-weight: 800;
  font-size: 24px;
}

.chat-feed .chat-title-container .chat-subtitle {
  color: #7554a0;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.chat-feed .message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: white;
}

.message-row {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 18px;
}

.message-row .message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60% !important;
  word-wrap: break-word !important;
}

.message-image {
  margin-right: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  /* width: 30vw; */
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
}

.message-form .message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.message-form .image-button {
  cursor: pointer;
  padding: 0px 12px;
  height: 100%;
}

.message-form .image-button .picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
}

.message-form .send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  cursor: pointer;
}

.message-form .send-button .send-icon {
  top: 1px;
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62, 5%;
}
/*# sourceMappingURL=style.css.map */